*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(71, 189, 231);
    font-size: 10px;
    font-family:cursive;
    font-style: oblique bold;
}

h1{
    margin: 20px 0;
    width: block;
    background-color: rgb(6, 5, 6);
    color: rgb(232, 233, 239);
    padding: 36px;
    box-sizing: border-box;
 }

select, button{
    
    text-align: center;
    margin: 30px;
    background-color: rgb(6, 5, 6);
    color: rgb(232, 233, 239);
    padding: 15px;
    border-radius: 39px;
    border: none;
    outline: none;
    cursor: pointer;
    
}
select:hover, button:hover{
  background-color: rgb(135, 173, 104);
}